//Location for temporary files
executor="slurm"
queue="large"
account="uoa02461" 
concurrency=2000

modules="Singularity/.3.2.0 BEDTools/2.28.0-gimkl-2018b FastQC picard BWA/0.7.17-gimkl-2017a Java/1.8.0_144 Perl/5.28.1-gimkl-2018b SAMtools/1.9-GCC-7.4.0 cutadapt/1.16-gimkl-2018b-Python-3.7.3"

commands {
        qc {
            walltime="00:45:00"
            memory="8"
        }
        
        trim {
                procs="8"
                walltime="02:00:00"         
                memory="8"
        }

        name {
                procs="1"
                walltime="00:00:01"
                memory="1"
        }

        trim {
                procs="8"
                walltime="01:00:00"         
                memory="8"
        }

        align {
                procs="16"
                walltime="06:00:00" 
                memory="24"
        }
        
        removeDuplicates {
                walltime="01:00:00"
                memory=32
                queue="bigmem"
        }

        alignmentMetrics {
                walltime="02:00:00"
                memory=8
        }

        markDuplicates {
                walltime="03:00:00"
                memory=32
                queue="bigmem"
        }

        recalibrate {
                walltime="02:00:00"
                memory="16"
        }
        haplotyping {
                walltime="04:00:00"
                memory="32"
                queue="bigmem"
        }
        
        removeSuppplementary {
                procs=4
                walltime="01:00:00"
                memory=8
        }

        pileUp {
                procs=8
                walltime="04:00:00"
                memory=8
        }
        
        variantCalling {
                procs=4
                walltime="01:00:00"
                memory=8
        }
        
        annotation {
                procs=4
                walltime="01:00:00"
                memory=8
                begin="now"
        }

        quick {
            procs=1
            walltime="00:00:10"
            memory=1
        }

}
