//Location for temporary files
executor="slurm"
queue="bigmem"
account="uoa00571" 
begin="now"
TMP="/nesi/nobackup/uoa00571/data/tmp"


modules="BEDTools FastQC cutadapt SAMtools picard BWA Java Perl picard" 

commands {
        trim {
                procs="8"
                walltime="01:00:00"         
                memory="8"
        }

        align {
                procs="16"
                walltime="06:00:00" 
                memory="24"
        }
        
        markDuplicates {
                walltime="03:00:00"
                memory=32
                queue="bigmem"
        }
        recalibrate {
                walltime="02:00:00"
                memory="16"
        }
        haplotyping {
                walltime="04:00:00"
                memory="32"
                queue="bigmem"
        }
        
        removeSuppplementary {
                procs=4
                walltime="01:00:00"
                memory=8
        }

        pileUp {
                procs=8
                walltime="04:00:00"
                memory=8
        }
        
        variantCalling {
                procs=4
                walltime="01:00:00"
                memory=8
        }
        
        annotation {
                procs=4
                walltime="01:00:00"
                memory=8
                begin="now"
        }
}
